@import '../../../styles/config.module.scss';

.itemContainer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0.3rem;

	.imgContainer {
		width: 3rem;
	}

	.descriptionArea {
		width: 100%;
		padding: 1rem;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}
