$accentColor: #e08451;
$mainColor: #efcb9f;
$mainColorBright: #ffeed9;
$lightColor2: #f1f1f1;
$lightColor: #dbdbdb;
$mediumColor: #b0b5b3;
$darkColor: #706f6f;
$blackColor: #333;
$testColor: salmon;
$dangerColor: #d81d1d;
$successColor: #60e760;
$dangerColorTrans: #d81d1d69;
$successColorTrans: #60e7607e;
