@import './variables';
@import './breakpoints';
@import './colors';

.shadowBox {
	box-shadow: 0 5px 10px 0 $lightColor;
}

.utilBigContainer {
	max-width: $maxWidth;
	margin-right: auto;
	margin-left: auto;
}

.utilContainer {
	margin: 0 auto;
}

.genericFlexRow {
	display: flex;
	width: 100%;
	justify-content: space-around;
	align-items: center;
	text-align: center;
}

.textLineThrough {
	text-decoration: line-through;
	color: $mediumColor;
}

.utilPad_1 {
	padding: 1rem;
}

.utilMarTop_05 {
	margin-top: 0.5rem;
}

.utilMarTop_1 {
	margin-top: 1rem;
}

.utilMarTop_1-5 {
	margin-top: 1.5rem;
}

.utilMarBot_05 {
	margin-bottom: 0.5rem;
}

.utilMarBot_1 {
	margin-bottom: 1rem;
}

.utilMarBot_1-5 {
	margin-bottom: 1.5rem;
}

.utilToolbox {
	display: flex;
	flex-direction: row;
}

.utilOnRemove {
	background: $dangerColorTrans;
	color: red;
}

.utilOnEdit {
	background: $successColorTrans;
}

.utilOnSuccess {
	background: $successColorTrans;
}

.invisible {
	visibility: hidden;
	pointer-events: none;
}

@media (max-width: $mobile) {
	.hideOnMobile {
		display: none;
	}
	.utilContainer {
		margin: 0 auto;
		padding: 0.3rem;
	}
}
