@import './variables';
@import './breakpoints';
@import './colors';

.shadowBox {
	box-shadow: 0 5px 10px 0 $lightColor;
}

.utilBigContainer {
	max-width: $maxWidth;
	margin: 0 auto;
	padding: 10px;
}

.utilContainer {
	margin: 0 auto;
	padding: 10px;
}

.genericFlexRow {
	display: flex;
	width: 100%;
	justify-content: space-around;
	align-items: center;
	text-align: center;
}

.textLineThrough {
	text-decoration: line-through;
	color: $mediumColor;
}

.utilPad_1 {
	padding: 1rem;
}

.utilMarBot_1 {
	margin-bottom: 1.5rem;
}

.utilToolbox {
	display: flex;
	flex-direction: row;
}

.utilOnRemove {
	background: $dangerColorTrans;
	color: red;
}

.utilOnEdit {
	background: $successColorTrans;
}

.utilOnSuccess {
	background: $successColorTrans;
}

@media (max-width: $mobile) {
	.hideOnMobile {
		display: none;
	}
}
