$maxWidth: 1600px;
$wideKerning: 0.7rem;
$mediumKerning: 0.3rem;
$smallKerning: 0.15rem;
$defaultKerning: 0.05rem;
$closeButtonSize: 1.5rem;
$closeButtonPadding: calc(#{$closeButtonSize} + 1.5rem) 1rem 1rem 1rem;
