$websiteWidth: 1280px;
$accentColor: #e08451;
$mainColor: #efcb9f;
$mainColorBright: #ffeed9;
$lightColor2: #f1f1f1;
$lightColor: #dbdbdb;
$mediumColor: #b0b5b3;
$darkColor: #706f6f;
$blackColor: #333;
$testColor: salmon;
$maxWidth: 1600px;
$wideKerning: 0.7rem;
$mediumKerning: 0.3rem;
$smallKerning: 0.15rem;
$defaultKerning: 0.05rem;
$closeButtonSize: 1.5rem;
$closeButtonPadding: calc(#{$closeButtonSize} + 1.5rem) 1rem 1rem 1rem;
