@import '../../../../styles/config.module.scss';

.subCategoryName {
	padding: 0.5rem 0;
	min-width: 10rem;
	position: relative;
	text-align: center;

	&:hover {
		background: $mainColor;
	}

	&.hasDropdown:hover ul.dropdown,
	ul.dropdown:hover {
		display: block;
		pointer-events: auto;
	}

	ul.dropdown {
		background: #fff;
		margin-top: 0.5rem;
		display: none;
		position: absolute;
		// height: 100%;
		width: 100%;
		z-index: 2;
		transition: opacity 0.15s ease-out;
		box-shadow: 0 0 10px $lightColor;

		li.dropdownItem {
			@include dotted_border_bottom;
			padding: 0.4rem 0;

			&:hover {
				background-color: $mainColor;
			}
		}
	}
}

@media (max-width: $mobile) {
	.subCategoryName {
		font-size: 1em;
		width: 100%;
		text-align: left;

		& p {
			@include dotted_border_bottom;
		}

		ul.dropdown {
			display: block;
			position: relative;
			width: 100%;
			text-align: left;
			padding-left: 1rem;
			box-shadow: none;
			margin: 0;
		}

		&:hover {
			background: inherit;
		}
	}
}
