@import '../../styles/config.module.scss';

.prodPageContainer {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
	overflow-y: scroll;
	height: 80vh;
	display: flex;
	flex-direction: column;

	&::-webkit-scrollbar {
		display: none;
	}

	.firstRow {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding-bottom: 1rem;

		.imgGalleryContainer {
			min-width: 40%;
		}

		.description {
			text-align: right;

			h1 {
				text-transform: uppercase;
				color: $accentColor;
			}

			p {
				padding-bottom: 1rem;
			}

			.fullDescription {
				padding-top: 1rem;
			}
		}
	}
}
