@import '../../styles/config.module.scss';

.prodPageContainer {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
	overflow-y: scroll;
	height: 80vh;
	display: flex;
	flex-direction: column;

	&::-webkit-scrollbar {
		display: none;
	}

	.firstRow {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding-bottom: 1rem;

		.imgGalleryContainer {
			min-width: 40%;
			padding: 2rem;
		}

		.description {
			text-align: right;
			padding: 0;

			h1 {
				text-transform: uppercase;
				color: $accentColor;
			}

			p {
				padding-bottom: 1rem;
			}

			.fullDescription {
				padding-top: 1rem;
			}
		}
	}
}

@media (max-width: $mobile) {
	.prodPageContainer {
		height: 100%;
		font-size: 0.8em;

		.firstRow {
			flex-direction: column;

			.description {
				.shortDescription {
					margin-top: 0.5rem;
					display: flex;
					flex-direction: row;
					justify-content: space-between;

					.nameAndPrice {
						text-align: left;
						padding-right: 0.3rem;
					}
				}

				.fullDescription {
					padding-top: 0.3rem;
				}
			}

			.imgGalleryContainer {
				min-width: 100%;
				padding: 0;
			}
		}
	}
}
