@import '../../../../styles/config.module.scss';
.newProductsListContainer {
	background: $successColorTransBright;
	width: 100%;
}

.listHeader {
	display: flex;
	width: 100%;
	flex-direction: row;
	justify-content: space-between;

	.actionButtonsContainer {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 0.5rem;
	}
}

@media (max-width: $mobile) {
	.listHeader {
		flex-direction: column;

		.actionButtonsContainer {
			position: -webkit-sticky;
			position: sticky;
			top: 1rem;
		}
	}
}
