@import '../../../../styles/config.module.scss';
.newProductsListContainer {
	background: $successColorTransBright;
}

.listHeader {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	.actionButtonsContainer {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 0.5rem;
	}
}

@media (max-width: $mobile) {
	.listHeader {
		flex-direction: column;
	}
}
