@import '../../../../styles/config.module.scss';

.genericButton {
	height: fit-content;
	display: block;
	border: none;
	outline: none;
	text-transform: uppercase;
	text-align: center;
	padding: 0.5rem 2rem;
	background: $blackColor;
	color: $lightColor;
	margin: auto 0.3rem;

	&.hidden {
		display: none;
	}

	&.success {
		background: $successColor;
		color: $blackColor;
	}

	&.danger {
		background: $dangerColor;
	}

	&.red {
		background: red;
	}

	&.green {
		background: green;
	}

	&:hover {
		background: $mainColor;
		color: $darkColor;
		cursor: pointer;
	}

	&:disabled {
		background: $lightColor;
		color: $darkColor;
		cursor: not-allowed;
	}
}

@media (max-width: $mobile) {
	.genericButton {
		margin: auto 0.1rem;
	}
}
