@import '../../../../styles/config.module.scss';

.genericButton {
	border: none;
	outline: none;
	text-transform: uppercase;
	text-align: center;
	padding: 0.5rem 2.5rem;
	background: $blackColor;
	color: $lightColor;

	&:hover {
		background: $mainColor;
		color: $darkColor;
		cursor: pointer;
	}

	&:disabled {
		background: $lightColor;
		color: $darkColor;
		cursor: not-allowed;
	}
}
