@import '../../styles/config.module.scss';

.productsGrid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 4rem;
}

.paginationNav {
	margin-top: 1rem;
	display: flex;
	justify-content: space-around;
	// align-items: space-between;
}

@media (max-width: $mobile) {
	.productsGrid {
		// grid-template-columns: repeat(2, 1fr);
		// grid-gap: 0.5rem;
		display: flex;
		flex-direction: column;
	}
}
