@import '../../../styles/config.module.scss';

.formContainer {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	.inputsContainer {
		width: 40%;
	}
}

@media (max-width: $mobile) {
	.formContainer .inputsContainer {
		width: 100%;
	}
}
