@import '../../../styles/config.module.scss';

.Modal {
	position: fixed;
	z-index: 500;
	background-color: white;
	width: 80%;
	min-height: 40%;
	border: 1px solid $lightColor;
	padding: 4rem 2rem 2rem 1rem;
	left: 10%;
	top: 10%;
	box-sizing: border-box;
	transition: all 0.3s ease-out;
}
