@import '../../../../styles/config.module.scss';

.itemContainer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0.3rem;

	.tools {
		display: flex;
	}
}

@media (max-width: $mobile) {
	.itemContainer {
		flex-direction: column;
		align-items: center;

		.tools {
			display: flex;
			align-items: center;
			justify-content: space-between;
			width: 100%;
		}
	}
}
