@import '../../styles/config.module.scss';

.toolbar {
	width: 100%;
	background-color: rgba(#fff, 0.5);
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	z-index: 5;
	padding: 1rem;

	& .toolbarContainer {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		text-transform: uppercase;
		justify-content: flex-end;
	}
}

@media (max-width: $mobile) {
	.toolbar .toolbarContainer {
		justify-content: space-between;
	}
}
