@import '../../../styles/config.module.scss';

.footerContainer {
	@include dotted_border_top;
	color: $darkColor;
	background: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 4rem;
}
