@import '../../scss/config';
@import '../../scss/mixins';
.mainHeader {
	position: relative;
	background: #fff;
	min-height: 35vh;

	&::before {
		content: '';
		background: url('../../img/header01.jpg') no-repeat center center /
			cover;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 0.2;
	}

	.headerContent {
		display: flex;
		flex-direction: column;
		position: relative;
		z-index: 1;
		height: 100%;
	}

	.logo {
		margin: 0 auto;
		display: flex;
		height: 100%;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		align-items: center;
	}

	h1 {
		text-transform: uppercase;
		transform: translateY(-50%);
		letter-spacing: $wideKerning;
		font-weight: 100;
	}

	img {
		opacity: 0.9;
		width: 200px;
		height: 200px;
	}

	.mainNav {
		display: flex;
		justify-content: flex-end;
		text-transform: uppercase;

		a {
			padding-bottom: 0.5rem;
			text-shadow: 2px 2px 5px $mediumColor;
			border-bottom: 2px solid transparent;
			&.currentLink {
				border-color: $accentColor;
			}
		}

		ul {
			display: flex;

			li {
				padding: 1rem 1.5rem;
				&:hover > a {
					border-color: $mainColor;
				}
			}
		}
	}
}

.container {
	max-width: $maxWidth;
	margin: 0 auto;
	padding: 10px;
}

.categoryNav {
	display: flex;
	align-items: center;
	justify-content: space-around;
	text-transform: capitalize;
	width: 100%;
	border-bottom: 1px dotted $lightColor;
	padding: 0.5rem 0;

	ul.category {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		flex-grow: 5;

		& > li {
			padding: 0.5rem 0;
			min-width: 10rem;
			position: relative;
			text-align: center;

			&:hover {
				background: $mainColor;
			}

			&.hasDropdown:hover ul.dropdown,
			ul.dropdown:hover {
				display: block;
				pointer-events: auto;
			}

			ul.dropdown {
				background: #fff;
				margin-top: 0.5rem;
				display: none;
				position: absolute;
				// height: 100%;
				width: 100%;
				z-index: 2;
				transition: opacity 0.15s ease-out;
				box-shadow: 0 0 10px $lightColor;
				border-radius: 5px;

				li.dropdownItem {
					@include dotted_border;
					padding: 0.4rem 0;

					&:hover {
						background-color: $mainColor;
					}
				}
			}
		}
	}

	.searchSort {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;

		.verticalEvenItem {
			flex-wrap: nowrap;
			display: flex;
			align-items: center;
			justify-content: center;
			margin: auto 1rem;
			min-width: 200px;
			border: 1px solid $lightColor;

			input[type='checkbox'] {
				-ms-transform: scale(1.5); /* IE */
				-moz-transform: scale(1.5); /* FF */
				-webkit-transform: scale(1.5); /* Safari and Chrome */
				-o-transform: scale(1.5); /* Opera */
				transform: scale(1.5);
				padding: 10px;
				margin: auto 1rem;
			}

			input,
			form,
			select,
			option {
				border: none;
				box-shadow: none;
				height: 2rem;
				text-align: center;
				outline: none;
				text-align: center;
			}

			form,
			select {
				display: inline-block;
				width: 100%;
			}

			input:hover,
			input:focus {
				border-color: $accentColor;
				outline: none;
			}
		}

		.noBorder {
			border: none;
		}
	}
}

.productsGrid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 4rem;

	.productCard {
		overflow: hidden;
		position: relative;

		.soldTag {
			position: absolute;
			z-index: 1;
			top: -6rem;
			right: -6rem;
			height: 300px;
			width: 300px;
			display: flex;
			align-items: center;
			justify-content: center;
			pointer-events: none;

			span {
				display: inline-block;
				width: 100%;
				text-align: center;
				background: $lightColor;
				text-transform: uppercase;
				color: $darkColor;
				transform: rotate(45deg);
			}
		}

		.prodImgContainer {
			overflow: hidden;

			.productImg {
				display: block;
				transition: transform 0.25s ease-in-out;
			}

			&:hover .productImg {
				cursor: pointer;
				transform: scale(1.2);
			}
		}
	}

	.prodDescription {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin-top: 0.5rem;
		text-align: center;

		h4 {
			letter-spacing: $smallKerning;
		}

		span {
			font-size: 0.85rem;
			margin: 0 5px 0 5px;

			&.beforePrice {
				color: $mediumColor;
				text-decoration: line-through;
				font-size: 1.1rem;
			}

			&.newPrice {
				color: $accentColor;
				font-weight: bold;
				font-size: 1.5rem;
			}
		}

		.regularButton {
			display: block;
			padding: 0.5rem 2.5rem;
			background: $blackColor;
			// width: 40%;
			color: $lightColor;

			&:hover {
				background: $mainColor;
				color: $darkColor;
			}
		}
	}
}
