@import '../../../styles/config.module.scss';
.descriptionContainer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;

	.imgContainer {
		width: 3rem;

		img {
			display: block;
		}
	}

	.descriptionArea {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0.3rem;
	}
}

@media (max-width: $mobile) {
	.descriptionContainer {
		.imgContainer {
			width: 5rem;
		}

		.descriptionArea {
			flex-direction: column;
			padding: 0.3rem;
			font-size: 0.9em;

			.shortDescription {
				display: none;
			}
		}
	}
}
