@import '../../../styles/config.module.scss';

.container {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
	overflow-y: scroll;
	height: 80vh;
	display: flex;
	flex-direction: column;

	&::-webkit-scrollbar {
		display: none;
	}

	& > div {
		padding: 1rem 0;
		@include dotted_border_bottom;
	}

	h1 {
		font-size: 1.5rem;
		text-align: center;
	}
	.head {
		display: flex;
		align-items: center;
		justify-content: space-between;

		.buttonContainer {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
	}
}

@media (max-width: $mobile) {
	.container {
		height: 100%;

		.head {
			flex-direction: column;
		}
	}
}
