@import '../../../../styles/config.module.scss';

.hamburgerContainer {
	width: 2.5rem;
	height: 100%;
	display: flex;
	flex-flow: column;
	justify-content: space-around;
	align-items: center;
	cursor: pointer;

	& div {
		width: 70%;
		height: 3px;
		margin-bottom: 5px;
		background-color: $darkColor;
		transition: all 0.1s ease-in-out;
	}

	&:hover div {
		background-color: $accentColor;
		width: 100%;
	}

	&:hover div:first-child {
		transform: translateY(0.1rem);
	}

	&:hover div:last-child {
		transform: translateY(-0.1rem);
	}
}

@media (min-width: $mobile) {
	.hamburgerContainer {
		display: none;
	}
}
