@import '../../../styles/config.module.scss';

.genericList {
	margin-bottom: 1rem;
	width: 100%;

	.genericListItem:nth-child(odd) {
		background: $mediumColorTrans;
	}

	.genericListItem {
		list-style: none;
	}
}
