@import '../../../styles/config.module.scss';

.cartItemContainer {
	display: flex;
	margin: 0 0 0.5rem 0;
	padding: 0.5rem;

	.prodImgContainer {
		width: 40%;

		.prodImg {
			max-width: 100%;
			max-height: 100%;
			display: block;
		}
	}

	.prodDescription {
		width: 60%;
		padding: 10px;
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		.text {
			p {
				text-align: left;
				margin-bottom: 1rem;
			}

			h3 {
				text-align: left;
				margin-bottom: 1rem;
			}
		}

		.tools {
			text-align: right;
			align-self: flex-end;
		}
	}
}

@media (max-width: $mobile) {
	.cartItemContainer {
		padding: 0;
	}
}
