@import '../../../styles/config.module.scss';

.sidebarContainer {
	background: #fff;
	position: fixed;
	top: 0;
	height: 100vh;
	width: 100vw;
	z-index: 200;
	transition: all 0.3s ease-in-out;
	overflow-y: scroll;

	&.left {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
		left: -100vw;

		&::-webkit-scrollbar {
			display: none;
		}

		&.opened {
			transform: translateX(100vw);
		}

		&.closed {
			transform: translateX(-100vw);
		}
	}

	&.right {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */

		right: -100vw;
		width: 400px;
		@include shadowToLeft;

		&::-webkit-scrollbar {
			display: none;
		}

		&.opened {
			transform: translateX(-100vw);
		}

		&.closed {
			transform: translateX(100vw);
		}
	}

	& .sidebarContent {
		display: flex;
		width: 100%;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		padding: $closeButtonPadding;
	}
}

@media (max-width: $mobile) {
	.sidebarContainer.right {
		width: 100vw;
	}
}
