@import '../../../styles/config.module.scss';

.input {
	width: 100%;
	padding: 10px 0;
	box-sizing: border-box;

	.label {
		font-weight: bold;
		display: block;
		margin-bottom: 8px;
	}

	.inputElement {
		outline: none;
		border: 1px solid $lightColor;
		text-transform: capitalize;
		background-color: white;
		font: inherit;
		padding: 6px 10px;
		display: block;
		width: 100%;
		box-sizing: border-box;
		resize: none;

		&.big {
			height: 150px;
		}
	}

	.inputElement:focus {
		outline: none;
		background-color: $lightColor2;
	}

	.invalid,
	.invalid:focus {
		border: 1px solid red;
		background-color: $mainColorBright;
	}
}
