@import '../../../../styles/config.module.scss';

.navItems {
	display: flex;
	justify-content: flex-end;
	text-transform: uppercase;

	ul {
		display: flex;
	}
}

@media (max-width: $mobile) {
	.navItems {
		margin-bottom: 2rem;
		justify-content: center;
		width: 100%;
	}
	.navItems ul {
		flex-direction: column;
		width: 100%;
		text-align: center;
	}
}
