@import '../../../../styles/config.module.scss';

.navItems {
	display: flex;
	text-transform: uppercase;

	ul {
		display: flex;
		& > * {
			padding: 0 1rem;
		}
	}
}

@media (max-width: $mobile) {
	.navItems ul & > * {
		padding: 0 0.4rem;
	}

	.navItems.vertical {
		margin-bottom: 2rem;
		justify-content: center;
		width: 100%;
	}
	.navItems.vertical ul {
		flex-direction: column;
		width: 100%;
		text-align: center;

		& > * {
			padding: 0.5rem 0;
		}
	}
}
