@import '../../../../styles/config.module.scss';

.navItems {
	display: flex;
	justify-content: flex-end;
	text-transform: uppercase;

	ul {
		display: flex;
	}
}

@media (max-width: $mobile) {
	.navItems {
		display: none;
	}
}
