@import '../../../../../styles/config.module.scss';

.navItem {
	padding: 0 1.5rem;
	&:hover > a {
		border-color: $mainColor;
	}

	a {
		padding-bottom: 0.5rem;
		text-shadow: 2px 2px 5px $mediumColor;
		border-bottom: 2px solid transparent;
		&.currentLink {
			border-color: $accentColor;
		}
	}
}

@media (max-width: $mobile) {
	.navItem {
		padding: 1rem 0;
		// margin-bottom: 0.5rem;
		@include dotted_border_bottom;

		& a {
			display: inline-block;
			width: 100%;
		}
	}
}
