@import '../../../styles/config.module.scss';

.prodPageContainer {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
	overflow-y: scroll;
	height: 80vh;
	display: flex;
	flex-direction: row;

	&::-webkit-scrollbar {
		display: none;
	}

	.dropContainer {
		min-width: 40%;
		background: red;
	}
}

@media (max-width: $mobile) {
	.prodPageContainer {
		flex-direction: row;
	}
}
