@import './../../../styles/config.module.scss';

.searchBarContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	min-width: 500px;
}

@media (max-width: $mobile) {
	.searchBarContainer {
		width: 100%;
		min-width: unset;
	}
}
