$websiteWidth: 1280px;
$accentColor: #e08451;
$mainColor: #efcb9f;
$lightColor: #dbdbdb;
$mediumColor: #b0b5b3;
$darkColor: #706f6f;
$blackColor: #333;
$testColor: salmon;
$maxWidth: 1400px;

@function set-text-color($color) {
	@if (lightness($color) > 50) {
		@return #000;
	} @else {
		@return #fff;
	}
}
