@import './config';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	letter-spacing: $defaultKerning;
}

body {
	font-family: 'Roboto', sans-serif;
	line-height: 1.6;
	background: #fff;
}

a {
	text-decoration: none;
	color: $blackColor;
}

ul {
	list-style: none;
}

h2,
h3,
h4 {
	text-transform: uppercase;
}

img {
	width: 100%;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
