@import '../../../styles/config.module.scss';

.cartItemContainer {
	min-height: 200px;
	display: flex;
	margin: 0 0 1rem 0;
	padding: 1rem;

	.prodImgContainer {
		width: 250px;

		.prodImg {
			max-width: 100%;
			max-height: 100%;
			display: block;
		}
	}

	.prodDescription {
		padding: 10px;
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		.text {
			p {
				text-align: left;
				margin-bottom: 1rem;
			}

			h3 {
				text-align: left;
				margin-bottom: 1rem;
			}
		}

		.tools {
			text-align: right;
		}
	}
}
