.container {
	.thumbsContainer {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		margin-top: 16px;

		.thumb {
			display: inline-flex;
			border-radius: 2px;
			border: 1px solid #eaeaea;
			margin-bottom: 8px;
			margin-right: 8px;
			width: 100px;
			height: 100px;
			padding: 4px;
			box-sizing: border-box;

			.iconButton {
				width: 100%;
				height: 100%;
			}

			.thumbInner {
				display: flex;
				min-width: 0;
				overflow: hidden;
				justify-content: center;
				align-items: center;

				.img {
					display: block;
					width: auto;
					height: 100%;
				}

				.iconButton {
					width: 100%;
					height: 100%;
				}
			}
		}
	}
}
