@import '../../../../styles/config.module.scss';

.close {
	position: absolute;
	right: calc(#{$closeButtonSize} / 2);
	top: calc(#{$closeButtonSize} / 2);
	width: $closeButtonSize;
	height: $closeButtonSize;
	opacity: 0.3;
	transition: all 0.1s linear;
}
.close:hover {
	cursor: pointer;
	opacity: 1;
	transform: rotate(90deg) scale(1.5);

	&:before,
	&:after {
		background-color: $accentColor;
	}
}
.close:before,
.close:after {
	position: absolute;
	left: calc(#{$closeButtonSize} / 2);
	content: ' ';
	height: $closeButtonSize;
	width: 2px;
	background-color: #333;
}
.close:before {
	transform: rotate(45deg);
}
.close:after {
	transform: rotate(-45deg);
}
