@import '../../styles/config.module.scss';

.dashboard {
	display: grid;
	grid-template-columns: 1fr 6fr;
	grid-template-areas:
		'toolbar headNav'
		'toolbar screen'
		'toolbar footer';
	min-height: 100vh;
	grid-template-rows: min-content auto min-content;
	align-items: center;

	&::before {
		content: '';
		background: url('../../assets/img/header01.jpg') no-repeat center center /
			cover;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 0.05;
		z-index: -1;
	}

	&HeadNav {
		grid-area: headNav;
		place-self: start stretch;
		@include dotted_border_bottom;
	}

	&SideToolbar {
		background-color: rgba(#fff, 0.5);
		grid-area: toolbar;
		place-self: stretch;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 1rem;

		& * {
			@include dotted_border_bottom;
			width: 100%;
			margin: 0.3rem auto;
			text-align: center;
		}
	}

	&ScreenContainer {
		grid-area: screen;
		place-self: stretch;
	}

	&FooterArea {
		grid-area: footer;
		place-self: start stretch;
	}
}
@media (max-width: $mobile) {
	.dashboard {
		display: flex;
		flex-direction: column;

		&HeadNav {
			place-self: unset;
			width: 100%;
		}

		&SideToolbar {
			place-self: unset;
			display: none;
		}

		&ScreenContainer {
			place-self: unset;
			width: 100%;
		}

		&FooterArea {
			width: 100%;
			place-self: unset;
		}
	}
}
